<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!--____________________Connect API to JSP (convert /api to /)-->
  <servlet>
    <servlet-name>AllJSP</servlet-name>
    <jsp-file>/</jsp-file> <!-- Your JSP. Must begin with '/' -->
  </servlet>
  <servlet-mapping>
    <servlet-name>AllJSP</servlet-name>
    <url-pattern>/api/*</url-pattern> <!-- Any URL you want here -->
  </servlet-mapping>
  <!--REST Servlet : Handel via @ApplicationPath,@Path-->
  <!--API Servlet : Handel via @webServlet-->
  <!--Soap Servlet : Handel via @webService-->
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>JAXWSServlet</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JAXWSServlet</servlet-name>
    <url-pattern>/soap/*</url-pattern>
  </servlet-mapping>
</web-app>